 /* Extra small devices (portrait phones, less than 576px) */
 @media (max-width: 575.98px) { 


 }

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 


 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
.name {
    
    font-size: 28px;
    /* font-weight: 700; */
}

 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .name {
        
        font-size: 28px;
       
    }
    .item {
        
        font-size: 22px;
        width: 129px;
        font-weight: 400
   
    }
    .rlg{
        padding-left: 40px;
    }
    .h_icon {
        font-size: 25px;  
    }

 }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 


 }